<html>
  <head>
    <title> </title>
  </head>

  <body>
    <form action="regCheck.php" method="post" enctype="">
      <fieldset>
        <legend>Registration</legend>
        <table>
          <tr>
            <td>Username</td>
            <td><input type="text" name="Username" value="" id="" /></td>
          </tr>

          <tr>
            <td>E-mail</td>
            <td><input type="email" name="E-mail" value="" id="" /></td>
          </tr>

          <tr>
            <td>Password</td>
            <td><input type="password" name="Password value="" id=""></td>
          </tr>

          <tr>
            <td>Phone No</td>
            <td><input type="number" name="Phone No" value="" id="" /></td>
          </tr>
          <tr>
            <td colspan="2"><hr /></td>
          </tr>
          <tr>
            <td>
              <input type="submit" value="Submit" />
              <a href="login.html" class="">Login</a>
            </td>
          </tr>
        </table>
      </fieldset>
    </form>
  </body>
</html>
